
.nav-link {
  background-color: grey;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-link:hover {
  background-color: darkgrey;
  border-color: black;
}

.card {
  border: 2px solid black;
  border-radius: 8px; 
  padding: 10px;
  display: inline-block;
}